@media (max-width: 1125px){
	.img-ocorrencia{
		margin-bottom: 10px !important;
	}
	.container{
		margin-top: 75px !important;
	}
}

body{
	background-color: #ffffff;
}

nav .label {
	font-size: 12px;
	padding: 0 4px 0 4px;
}

.wrapper{
	margin-top: 5%;
}

.img-ocorrencia{
	margin: 0 auto;
	width: 200px;
 	height: 200px;
	background-repeat: no-repeat;
	background-position: 50% 50%;
	background-size: cover;
}

.resp{
	width: 100%;
}

.label{
	font-size: 14px;
}

.panel-warning:hover{
	background-color: #FEF4E7;
}

.panel-info:hover{
	background-color: #E7F1FE;
}

.panel-primary:hover{
	background-color: #F7F9F9;
}

.panel-success:hover{
	background-color: #E7FEE8;
}

.panel-danger:hover{
	background-color: #FEE7E7;
}

.panel-resp, .panel-trep{
	float: left;
	margin: 15px -30px -15px -30px;
	background-color: #ecf0f1;
}

.panel-trep{
	padding-left: 40px;
	background-color: #F7F9F9;
}

.panel-resp-desc{
	margin-top: 15px;
	margin-bottom: 15px;
}

.panel-resp-info, .panel-resp-desc{
	padding: 0px;
}

.showOcr{
	cursor: pointer;
}

#modal-img, .modal-dialog{
	max-width: 100%;
	max-height: 100%;
}

.modal-backdrop.in{
    opacity: 0.8;
    filter: alpha(opacity=50);
}

.modal-body select, .modal-body input, .modal-body .help-block, .modal-body .glyphicon-time{
	margin-bottom: 15px;
}

.modal-body .rating-symbol{
	font-size: 35px !important;
}

.rating-symbol-background{
	color: #cccccc;
}

.rating-symbol-foreground{
	color: #ffca00;
}